* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;

}

body {
    background-color: #f7f7f7;
}

#nav {

    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

#nav-part1 {

    height: 82px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links {
    padding: 8px;

}

#nav-part2 #links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}

#icons {
    padding: 8px;
    border-radius: 50px;
    background-color: #f7f7f7;
}

#nav-part2 #icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}

#cursor {
    height: 190px;
    width: 190px;
    background-color: #e6dfd7;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
}

*::selection {
    color: #fff;
    background-color: #111;
}

#page1 {
    min-height: 100vh;
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;

}

#page1 h1 {
    font-size: 15.6vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: bisque;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 2.8vw 1.9vw;


    background-color: #111;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 3vw 1vw;
}

#page2 .elem {
    height: 100%;
    width: 31%;
    /* background-color: rebeccapurple; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

.elem .dets {
    height: 60px;
    width: 70%;
    border-radius: 50px;
    position: absolute;
    z-index: 9;
    background-color: palegoldenrod;

}

#page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child {
    height: 54vh;
    width: 38%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img {
    height: 100%;

}



@media (max-width:600px) {
    #nav {

        width: 100%;
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
    }

    #nav-part1 {

        height: 65px;
        overflow: hidden;
    }

    #nav #twogoodlogo {
        height: 40px;
        margin-left: -20px;
    }

    #nav-part1 svg {
        display: block;
        height: 65px;
        width: 80px;
    }

    #nav #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    #links {
        padding: 8px;
        display: none;

    }

    #nav-part2 #links a {
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
        font-weight: 500;
        font-size: 14px;
        margin: 0 20px;
    }

    #icons {
        padding: 7px;
        border-radius: 50px;
        background-color: #f7f7f7;
    }

    #nav-part2 #icons i {
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }

    #page1 {
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;

    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;
        margin-top: 3vw;

    }

    #video-container #play {
        padding: 10vw 7.6vw;
        background-color: #111;
        color: #fff;
        font-size: 4.7vw;
        position: absolute;
        top: 50%;
        left: 50%;
        text-transform: uppercase;
        border-radius: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        flex-direction: column;
        display: flex;
        align-self: center;
        justify-content: space-between;
        padding: 5vw 3vw;
    }

    #page2 .elem {
        height: 100vh;
        width: 100%;
        margin-bottom: 3vw;
        /* background-color: rebeccapurple; */
    }

    .elem .dets {
        height: 40px;

    }

    #page3 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .child {
        height: 54vh;
        width: 88%;
        padding: 15vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .child img {
        height: 100%;

    }

}